Samples/csharp/ADLXCSharpBind/ADLXCSharpBind/out
Samples/csharp/ADLXCSharpBind/ADLXCSharpBind/x64
Samples/csharp/ADLXCSharpBind/ADLXCSharpBind/ADLXCSharpBind.vcxproj.user
Samples/csharp/ADLXCSharpBind/ADLXCSharpBind/ADLXCSharpBind_wrap.cxx
Samples/csharp/ADLXCSharpBind/ADLXCSharpBind/ADLXCSharpBind_wrap.h
Samples/csharp/DisplayEvents/DisplayEvents/ADLXDepends
Samples/csharp/DisplayEvents/DisplayEvents/obj
Samples/csharp/DisplayInfo/DisplayInfo/ADLXDepends
Samples/csharp/DisplayInfo/DisplayInfo/obj
Samples/csharp/x64
Samples/csharp/.vs
Samples/csharp/DisplayEvents/DisplayEvents/.vs
Samples/csharp/DisplayInfo/DisplayInfo/.vs
Samples/csharp/XboxGamingBarHelper/ADLXDepends/*.cs
